{% extends 'store/base.html' %} {% block content %}

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<main>
  <div class="container py-4">
    <h2>About</h2>
    <div class="border-bottom"></div>
    <div class="p-5 my-5 bg-light rounded-3">
      <p class="col-md-8 fs-4">
        GoStore🚀An E-commerce website includes various gadgets.
      </p>
      <p class="col-md-8 fs-4">
        The Website has features like add to cart🛒, checkout ✨,order
        tracking 💥,clear cart❌, contact form 📝,place orders.
      </p>
      <p class="col-md-8 fs-4">
        Payment💸 integration is also implemented on this website
      </p>

      <a href="{% url 'Products' %}"
        ><button class="btn btn-outline-dark btn-lg" type="button">
          Go To Store
        </button></a
      >
    </div>
    <footer class="pt-3 mt-5 lead text-center border-top">
      &copy; 2021 GoStore | Made With 🧡 For The People Of Internet
    </footer>
  </div>
</main>

{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
  if (localStorage.getItem("cart") == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem("cart"));
  }
  var sum = 0;

  for (item in cart) {
    let name = cart[item][1];
    let qty = cart[item][0];
    let itemPrice = cart[item][2] * qty;
    sum = sum + qty;
  }

  document.getElementById("cart").innerHTML = sum;
</script>
{% endblock %}
