{% extends 'store/base.html' %} {% load static %} {% block content %}
<main class="about">
  <div class="container my-3">
    <div class="row justify-content-center align-items-center mb-5">
      <div class="about-info col-12 ">
        <div class="about-content">
          <div class="row justify-content-center align-items-center">
            <div class="col-6">
              <!-- <img src="{% static 'images/cart.svg' %}" style="width: 35vw; height: 200px;" alt=""> -->
              <img src="/static/images/Catalogue.gif" style="width: 35vw; height: 400px;" alt="">
            </div>
            <div class="col-6">
              <div class="about-header mb-5 text-center">
                <h2>About GoStore</h2>
              </div>
              <p class="mx-5 lead">
                GoStore is an eCommerece website and it has features like add to cart, order tracking, search products by typing product name, product checkout, contact form, blogs.
              </p>
            </div>
          </div>
          </div>
        </div>
    </div>
    <div class="footer">
      <hr>
      <div class="col-12">
        
        <p class="lead text-center">
          <strong
          >Copyright &copy; 2021 GoStore | Made with 🧡 for the people of the
          internet</strong
          >
        </p>
      </div>
    </div>
  </div>
</main>

{% endblock content %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
  if (localStorage.getItem("cart") == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem("cart"));
  }
  var sum = 0;

  for (item in cart) {
    let name = cart[item][1];
    let qty = cart[item][0];
    let itemPrice = cart[item][2] * qty;
    sum = sum + qty;
  }
  document.getElementById("cart").innerHTML = sum;
</script>
{% endblock %}
