{% extends 'store/base.html' %} {% block content %} {% load static %}

<div class="container">
  <button class="btn btn-danger mt-3" style="float: right;" onclick="clearCart()" id="clearCart">Clear</button>
  {% for product, range, noOfSlides in productAll %}
  <h1 class="mt-3">{{product.0.category}}</h1>
  <hr>
  <div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      {% for i in product %}
        <div class="card" style="width: 20rem; display: inline-block;">
          <div class="img d-flex justify-content-center align-items-center">
            <img src="/images/{{i.image}}" class="card-img-top" alt="..." style="max-width: 200px; height: 230px;">
          </div>
          <div class="card-body">
            <h5 class="card-title" id="namepr{{i.id}}">{{i.productName}}</h5>
            <p class="card-text">{{i.description|slice:"0:50"}}...<a href="/productInfo/{{i.id}}" class="link text-dark">Read more</a></p>
            <h6 class="card-price">₹<span id="pricepr{{i.id}}">{{i.price}}</span></h6>
            <span id="divpr{{i.id}}" class="divpr">
            <button id="pr{{i.id}}" class="btn cart-btn-1 text-white cart">Add To Cart</button>
            </span>
            <a href="/productInfo/{{i.id}}"><button id="view{{i.id}}" class="btn cart-btn-2 ">View Info</button></a> 
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div>
      <div class="carousel-item">
        {% endif%}
        {% endfor %}
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  {% endfor %}
</div>
{% endblock content %}



{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}