{% extends 'store/base.html' %} {% block content %}
<div class="container">
  <div class="col my-4 mt-3">
    <h1 class="mt-3">Track Your Order</h1>
    <div class="border-bottom"></div>
    <form class="row g-3 mt-1" action="#" id="trackerForm" method="POST">
      {% csrf_token %}
      <div class="col-md-6">
        <label for="name" class="form-label">Order ID</label>
        <input
          type="text"
          class="form-control"
          id="orderId"
          name="orderId"
          placeholder="Enter Your Order ID"
        />
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter Your Email"
        />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-success" style="border-radius: 0;">Track Order</button>
      </div>
    </form>
    <h3 class="mt-3">Your Order Status</h3>
    <div class="border-bottom"></div>
    <div class="my-4">
      <ul class="list-group" id="items"></ul>
    </div>
    <h3 class="mt-3">Your Orders</h3>
    <div class="border-bottom"></div>
    <div class="my-4">
      <ul class="list-group" id="orderItems"></ul>
    </div>
  </div>
</div>
{% endblock content %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
  if (localStorage.getItem("cart") == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem("cart"));
  }
  var sum = 0;

  for (item in cart) {
    let name = cart[item][1];
    let qty = cart[item][0];
    let itemPrice = cart[item][2] * qty;
    sum = sum + qty;
  }

  document.getElementById("cart").innerHTML = sum;
  $("#trackerForm").submit(function (event) {
    $("#items").empty();
    var formData = {
      orderId: $("input[name=orderId]").val(),
      email: $("input[name=email]").val(),
      csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
    };
    $.ajax({
      type: "POST",
      url: "/tracker/",
      data: formData,
      encode: true,
    }).done(function (data) {
      $("#orderItems").empty();
      console.log(data);
      data = JSON.parse(data);
      if (data['status'] == 'success') {
        updates = data["updates"];
        for (i = 0; i < updates.length; i++) {
          let text = updates[i]["text"];
          let time = updates[i]["time"];
          trackStr = `<li class="list-group-item d-flex justify-content-between align-items-center">
            ${text}
            <span class="badge badge-primary text-light badge-pill bg-primary">${time}</span>
            </li>`;
          $("#items").append(trackStr);
        }
        cart = JSON.parse(data["itemJson"]);
      console.log(cart);
      for (item in cart) {
        let name = cart[item][1];
        let qty = cart[item][0];
        orderStr = `<li class="list-group-item d-flex justify-content-between align-items-center">
            ${name}
            <span class="badge badge-primary text-light rounded-circle bg-primary">${qty}</span>
            </li>`;
        $("#orderItems").append(orderStr);
      }
      } else {
        trackStr = `<li class="list-group-item d-flex justify-content-between align-items-center">
            Sorry, we are not able to fetch order
            </li>`;
        $("#items").append(trackStr);
        $("#orderItems").append(trackStr);
      }
      
    });

    event.preventDefault();
  });
</script>

{% endblock %}
